node_modules
bower_components
npm-debug.log
bin/
obj/
Attachments/
Hosting/
Images/
.vscode/
.*
*.tar*
*.env
.git/
!default.env
!.env
!/.gitignore
!.babelrc
!.prettierrc
!.eslintrc.json
!.eslintignore